body {
	height: 100%;
	font-family: Roboto, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 16px;
	margin: 0;
}

a {
	color: white;
	text-decoration: none;
	border-bottom: 1px white dotted;
}

.content-main {
	background: #2196F3;
	color: white;
	padding: 1em 7em;
	text-align: end;
	position: relative;
	box-shadow: 0 0 21px 2px rgba(0,0,0,0.2);
	z-index: 1;
}

.content-main-wrapper {position: relative;}

.content-links {
	color: white;
	padding: 1em;
	margin-top: 7em;
	display: flex;
	justify-content: center;
}

.statement-major {
	font-size: 4em;
}

.statement-minor {
	font-size: 1em;
	margin-top: 1em;
}

.animate-onload {
	animation-name: present-in;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	animation-fill-mode: backwards;
}

@keyframes present-in {
	from {
		transform: translateX(-50px);
		opacity: 0;
	}

	to {
		transform: none;
		opacity: 1;
	}
}

.link-button {
	height: 98px;
	width: 98px;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
	animation-delay: .2s;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.link-button svg {
	height: 50px;
	width: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50px;
}

.link-button path {
	transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.link-button:last-child {
	margin-right: 0;
}

.link-button:hover {
	transform: translateY(-10px);
}

#link-twitter:hover path {
	fill: #1da1f2;
}

#link-youtube:hover path {
	fill: #ff0000;
}

#link-facebook:hover path {
	fill: #4267b2;
}

#link-linkedin:hover path {
	fill: #0084bf;
}

#link-github:hover path {
	fill: #24292e;
}

#link-email:hover path {
	fill: #d14836;
}

@keyframes peek-in {
	from {
		transform: translateY(90px) scaleX(-1);
	}

	50% {
		transform: translateY(-10px) scaleX(-1);
	}

	to {
		transform: scaleX(-1);
	}
}

#peter-photo {
	transition: all .3s ease-out;
	width: 300px;
	position: absolute;
	left: 13%;
	bottom: 97px;
	z-index: 0;
	animation-name: peek-in;
	animation-duration: 1s;
	animation-delay: 1s;
	animation-fill-mode: backwards;
	cursor: pointer;
	transform: scaleX(-1);
}

#peter-photo:hover {
	transform: translateY(-80px) scaleX(-1);
}