<dialog id="mailinglist-dialog">
    <p id="mailinglist-desc">{{{lang.mailinglist_dialog_mailing_list_desc}}}</p>
    <form id="mailinglist-form" method="dialog">
        <input id="mailinglist-name" type="text" autocomplete="name" required placeholder="{{{lang.mailinglist_dialog_name}}}">
        <input id="mailinglist-email" type="email" autocomplete="email" required placeholder="{{{lang.mailinglist_dialog_email}}}">
        <button id="mailinglist-cancel" type="button" class="white-icon"></button>
        <button id="mailinglist-form-submit" value="default">{{{lang.mailinglist_dialog_submit}}}</button>
    </form>
</dialog>