:root {
	--text-color: black;
	--text-color-secondary: #222222;
	--background-color: #ffffff;
	--background-color-layer2: #EEEEEE;
	--color-frosted-background: rgba(255, 255, 255, .7);
	--color-brand: #2bb456;
	--color-brand-hover: #2fc15d;

	--easing-normal: cubic-bezier(0.4, 0.0, 0.2, 1);
	accent-color: var(--color-brand);
	font-family: Roboto, sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #e0e0e0;
		--text-color-secondary: #d1d1d1;
		--background-color: #000000;
		--background-color-layer2: #262626;
		--color-frosted-background: rgba(0, 0, 0, .7);
	}
}

* {
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	background-image: url(images/peter-keys.webp);
	background-image: -webkit-image-set(url(images/peter-keys.avif) 1x, url(images/peter-keys.webp) 1x);
	background-image: image-set(url(images/peter-keys.webp) type(image/webp), url(images/peter-keys.avif) type(image/avif));
	background-image: image-set(url(images/peter-keys.webp) 1x, url(images/peter-keys.avif) 1x);
	background-repeat: no-repeat;
	background-size: 100%;
	/* background-position: top right; */
}

@media screen and (max-width: 1024px) {
	body {
		background-image: url(images/peter-keys-medium.webp);
	}
}

@media screen and (max-width: 512px) {
	body {
		background-image: url(images/peter-keys-mobile.webp);
	}
}

@media screen and (min-width: 512px) and (max-width: 1024px) {
	body {
		background-color: green;
	}
}

body.menu-shown {
	overflow: hidden;
}

dialog {
	background-color: var(--background-color-layer2);
	color: var(--text-color);
}

a {
	color: inherit;
	text-decoration: none;
}

.nowrap {
	white-space: nowrap;
}

input:where([type=text], [type=email]) {
	padding: 0.5em 0.4em;
}

#page-title {
	font-size: 32px;
	margin-top: 2em;
}

@media screen and (max-width: 900px) {
	#page-title {
		font-size: 24px;
		text-align: center;
	}
}

@media (prefers-color-scheme: light) {
	#page-title {
		opacity: .9;
	}
}

#content {
	max-width: 100%;
	margin: auto;
	width: 1200px;
	padding: 60px 40px 0 40px;
	box-sizing: border-box;
	transition: opacity .3s var(--easing-normal), transform .3s var(--easing-normal);
}

@media screen and (max-width: 520px) {
	#content {
		padding: 60px 10px 0 10px;
	}
}

body.menu-shown #content {
	opacity: .5;
	transform: translateX(50vw);
}

#navbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	display: flex;
	align-items: center;
	z-index: 9;
}

#lang-select {
	font-size: 130%;
	filter: grayscale(100%);
	transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
	margin-right: 15px;
	margin-left: auto;
}

#lang-select:hover {
	filter: none;
}

@media screen and (max-width: 520px) {
	#lang-select {
		font-size: 150%;
	}

	#lang-select a:first-child {
		margin-right: 5px;
	}
}

#navbar > a {
	padding: 0 1.5em;
}

.navbar-link {
	display: flex;
	align-items: center;
	transition: opacity .3s cubic-bezier(0.39, 0.575, 0.565, 1);
	height: 60px;
	line-height: 59px;
}

@media (pointer: fine) {
	.navbar-link {
		opacity: .7;
	}
}

.home-logo-button {
	font-weight: bold;
	opacity: .5;
}

.navbar-link:hover {
	opacity: 1;
}

.navbar-link img {
	height: .9em;
	width: .9em;
	margin-right: .4em;
}

button.navbar-link {
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	border: none;
	cursor: pointer;
	color: var(--text-color);
}

.sidebar-link {
	display: flex;
	align-items: center;
	height: 43px;
}

.sidebar-link:focus {
	outline: none;
}

.sidebar-link img {
	height: .9em;
	width: .9em;
	margin-right: .4em;
}

button.sidebar-link {
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	border: none;
	cursor: pointer;
	color: var(--text-color);
}

#footer {
	display: flex;
    justify-content: center;
	align-items: center;
    gap: 0.5em;
    font-size: 14px;
    color: var(--text-color-secondary);
	height: 80px;
	flex-shrink: 0;
}

@keyframes present-up {
	from { transform: translateY(8px); opacity: 0; }
	to { transform: none; opacity: 1; }
}

#mailinglist-dialog {
	font-size: 14px;
	width: calc(100vw - 20px);
	max-width: 520px;
	line-height: 1.4em;
	border: none;
	color: var(--text-color);
	background-color: var(--background-color-layer2);
	border-radius: 6px;
	margin: 0;
	animation-name: present-up;
	animation-duration: .3s;
}

#mailinglist-desc {
	margin-right: 40px;
}

#mailinglist-cancel {
	border: none;
	background: transparent;
	background-image: url(images/close.svg);
	background-size: 14px;
	background-position: center;
	background-repeat: no-repeat;
	height: 40px;
	width: 40px;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
}

#mailinglist-form {
	display: grid;
	grid-template-columns: auto;
	gap: 10px;
}

#mailinglist-form-submit {
	height: 40px;
	width: 140px;
	justify-self: center;
	color: var(--text-color);
}

.sidebar-link.mailinglist-button {
	padding-left: 0;
}

#hamburger-button {
	display: none;
	border: none;
	height: 60px;
	width: 60px;
	background: transparent;
	/* background-image: url(images/hamburger.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 26px; */
}

#hamburger-button svg {
	height: 26px;
	width: 26px;
}

#hamburger-button svg line {
	transition: all .3s var(--easing-normal);
	transform-origin: center;
}

.menu-shown #hamburger-button svg line:nth-child(1) {
	transform: rotateZ(-45deg) translateY(calc(50% - 49px));
}

.menu-shown #hamburger-button svg line:nth-child(2) {
	opacity: 0;
}

.menu-shown #hamburger-button svg line:nth-child(3) {
	transform: rotateZ(45deg) translateY(calc(-50% + 49px));
}

@media screen and (max-width: 740px) {
	.home-logo-button {
		display: none;
	}
}

@media screen and (max-width: 520px) {
	.navbar-link {
		display: none;
	}
	#hamburger-button {
		display: block;
	}
}

#side-menu {
	width: 50vw;
	height: 100vh;
	max-height: 100vh;
	background-color: transparent;
	position: fixed;
	inset: 0;
	border: 0;
	margin: 0;
	z-index: 8;
	padding-top: 60px;
	padding-left: 21px;
	color: var(--text-color);
}

.external-link::after {
	content: "";
	display: inline-block;
	height: 1em;
	width: 1em;
	background-image: url(images/external.svg);
	filter: brightness(0);
	background-size: .8em;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	top: 2px;
	margin-left: 4px;
}

@media (prefers-color-scheme: dark) {
	.external-link::after {
		filter: none;
	}
}

@media (prefers-color-scheme: light) {
	.white-icon  {
		filter: brightness(0);
	}
}
